# Игнорируем систему контроля версий (самый тяжелый мусор для сборки)
.git
.gitignore

# Игнорируем конфигурации докера и окружения
docker/
.env
.env.example

# Игнорируем локальные бинарники и кэш сборки Go (если они появятся)
**/bin/
**/obj/
*.exe
*.test
*.prof

# Игнорируем файлы документации
README.md

# Игнорируем системные файлы ОС и IDE
.DS_Store
.idea/
.vscode/
*.swp